@use "sass:map";

:root {
  line-height: map.get($BASE, line_height);
  font-size: map.get($BASE, font_size);
  font-family: map.get($BASE, font_family);
  font-weight: map.get($BASE, font_weight);
  color: map.get($BASE, main_color);
  background-color: map.get($BASE, background_color);
}

body {
    &.active {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;

        header {
          z-index: 2;
        }

        &::before {
          content: "";
              background: rgba(0,0,0, .85);
              width: 100dvw;
              height: 100dvh;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
        }
    }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  & > main {
    flex: 1 1 auto;
  }
  // Фикс слайдеров
  > * {
    min-width: 0;
  }
}

.container {
    width: 100%;
    margin: 0 auto;
    @include rem((
      padding: 0 map.get($BASE, container_padding_x),
      min-width: map.get($BASE, min_width)
    ));
    // height: 100dvh;

    @if map.get($SETTINGS, responsive_type) == 1 {
      @include rem(max-width, map.get(map.get($CONTAINER, normal), max-width));
    }
    @else if map.get($SETTINGS, responsive_type) == 2 {
      max-width: 100%;

      @each $type, $props in $CONTAINER {
        @include media($type) {
          $padding-x: map.get($props, padding-x);
          $max-width: map.get($props, max-width);

          @include rem((
            max-width: ($max-width + $padding-x),
            padding: 0 ($padding-x / 2)
          ))
        }
      }
    }
   
}

section[class^='layout__'] {
  &:not([class*='hero']) {
    @include rem(margin-top, 80px);
  }
  &[class*='clients'] {
    @include rem(margin-top, 48px);
  }

  @supports (font-size: clamp(1px,1px,1px)) {
    &:not([class*='hero']) {
      @include clamp(margin-top, 160px 80px);
    }
    &[class*='clients'] {
      @include clamp(margin-top, 128px 48px);
    }
  }
  @supports not (font-size: clamp(1px,1px,1px)) {
    &:not([class*='hero']) {
      @include media(desktop) {
        @include rem(margin-top, 160px);
      }
    }
    &[class*='clients'] { 
      @include media(desktop) {
        @include rem(margin-top, 128px);
      }
    }
  }
}

main[class*='layout--'] {
  @include rem(padding, 80px 0);

  @supports (font-size: clamp(1px,1px,1px)) {
    @include clamp((
      padding-top: 224px 80px,
      padding-bottom: 160px 80px,
    ));
  }
  @supports not (font-size: clamp(1px,1px,1px)) {
    @include media(desktop) {
      @include rem((
        padding-top: 224px,
        padding-bottom: 160px,
      ));
    }
  }
}