@font-face {
    font-family: "Satoshi";
    src:
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Satoshi-Light.woff') format("woff"),
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Satoshi";
    src:
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Satoshi-Regular.woff') format("woff"),
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Chillax";
    src:
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Chillax-Light.woff') format("woff"),
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Chillax-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Chillax";
    src:
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Chillax-Regular.woff') format("woff"),
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Chillax-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Gambetta";
    src:
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Gambetta-LightItalic.woff') format("woff"),
        url('/Users/vitaliy/GitHub/arik/src/assets/fonts/Gambetta-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}