@use 'sass:map';
@use 'sass:math';

@each $h, $map in $HEADERS {
    @include text_adaptive($h, $map);   

    #{$h} {
        span {
            font-family: map.get($FONTS, gambetta);
            font-style: italic;
        }
    }
}

@include text_adaptive(p, $P);

.cms {
   h1 {
      @extend %h1;
   }
   h2 {
      @extend %h2;
   }
   h3 {
      @extend %h3;
   }
   h4 {
      @extend %h4;
   }
   h5 {
      @extend %h5;
   }
}

.text {
    &--size-24 {
       p {
        @extend %textXLarge;
       }
    }
    &--size-20 {
       p {
         @extend %textLarge;
       }
    }
    &--size-18 {
       p {
         @extend %textMedium;
       }
    }
    &--size-14 {
       p {
         @extend %textSmall;
       }
    }
    &--size-12 {
       p {
         @extend %textXSmall;
       }
    }
}