@use 'sass:map';

.content-about {
    @extend %card;
    @extend %watcherDefaultReverse;
    color: map.get($COLORS, muted);
    font-family: map.get($FONTS, satoshi);
    display: grid;
    @include fluid(gap, 16px 8px);

    &__tag {
        @extend %textMeta;
        text-transform: uppercase;
    }
    &__title {
        @extend %h2;
        color: map.get($COLORS, base);
    }
    &__text {
        font-family: map.get($FONTS, chillax);
    }
    &__picture {
        position: relative;
    }
    &__image {
        border: 1px solid map.get($COLORS, border_default);
        border-radius: 2px;
        width: 100%;
        aspect-ratio: 704 / 417;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__noise {
        @extend %noise;
        width: 100%;
        aspect-ratio: 704 / 417;
    }
}