@use 'sass:map';

.awards-about {
    font-family: map.get($FONTS, satoshi);
    @extend %card;

    &__title {
        @extend %textMeta;
        color: map.get($COLORS, muted);
        text-transform: uppercase;

        &:not(:only-child) {
            @include fluid(margin-bottom, 32px 20px);
        }
    }

    &__table {
        width: 100%;
    }
    &__line {
        td {
            @include rem(padding, 24px 0);
            border-bottom: 1px solid map.get($COLORS, border_default);
        }
        &:first-child {
            td {
                padding-top: unset;
            }
        }
        &:last-child {
            td {
                padding-bottom: unset;
                border-bottom: unset;
            }
        }
    }
    &__label {
        @extend %h5;
        font-weight: 300;
    }
    &__year {
        @extend %textMeta;
    }
}