@use 'sass:map';

.body-footer {
    display: flex;
    flex-flow: row wrap;
    @include fluid(gap, 62px 20px);

    &__content {
        @include rem(gap, 20px);
        @include fluid(margin-bottom, 88px 30px);
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        @include fluid(gap, 62px 20px);
    }

    &__button {
       @include fluid(margin-top, 16px 8px);
    }

    @include media(mobile) {
       &__content {
            flex-direction: row;
        }
    }
    @include media(tablet) {
        &__content {
            display: unset;
            @include rem(flex, 0 1 28.75%);
        }
        &__list {
            flex: 1;
        }
    }

    .content-footer {
        display: flex;
        flex-flow: column nowrap;
        @include fluid(gap, 43px 20px);
    }
}