@use 'sass:map';

.body-footer {
    display: flex;
    flex-flow: row wrap;
    @include rem(gap, 20px);

    &__content {
        @include rem((
            margin-bottom: 30px,
            gap: 20px
        ));
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        @include rem(gap, 20px);
    }

    &__button {
        @include rem(margin-top, 8px);
    }

    @include media(mobile) {
       &__content {
            flex-direction: row;
        }
    }
    @include media(tablet) {
        &__content {
            display: unset;
            @include rem(flex, 0 1 28.75%);
        }
        &__list {
            flex: 1;
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(gap, 62px 20px);

        &__content {
            @include clamp(margin-bottom, 88px 30px);
        }

        &__list {
            @include clamp(gap, 62px 20px);
        }

        &__button {
            @include clamp(margin-top, 16px 8px);
        }

        .content-footer {
            @include clamp(gap, 43px 20px);
        }
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(gap, 62px);

            &__content {
                @include rem(margin-bottom, 88px);
            }

            &__list {
                @include rem(gap, 62px);
            }

            &__button {
                @include rem(margin-top, 16px);
            }

            .content-footer {
                @include rem(gap, 43px);
            }
        }
    }
}