@use 'sass:map';

@mixin buttonMainStyle {
    background: map.get($COLORS, background_muted);
    border: 1px solid map.get($COLORS, border_default);
    color: inherit;
}

@mixin buttonPrimaryStyle {
    background: map.get($COLORS, base);
    border: 1px solid map.get($COLORS, base);
    color: map.get($COLORS, inverse);
}


.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(30px);
    border-radius: 2px;
    @include buttonMainStyle;
    @extend %textMeta;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    transition-property: color, background-color, border-color;
    @include fluid(padding, (16px 8px) (20px 8px));

    &--size-small {
        @include fluid(padding, (10px 6px) (16px 6px));
    }
    &--style-primary {
        @include buttonPrimaryStyle;
    }
    &--type-button-text {
        border: unset;
        background-color: unset;
        padding: unset;
        color: inherit;
        @include fluid(gap, 12px 6px);
        
        .icon-rounded {
            order: -1;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @include buttonPrimaryStyle;
        }
        &--style-primary:hover {
            @include buttonMainStyle;
        }
        &--type-button-text:hover {
            background-color: unset;
            border: unset;
            color: inherit;

            .icon-rounded {
                @include iconRoundedPrimary;
            }
        }
    }
}

