@use 'sass:map';

@mixin buttonMainStyle {
    background: map.get($COLORS, background_muted);
    border: 1px solid map.get($COLORS, border_default);
    color: inherit;
}

@mixin buttonPrimaryStyle {
    background: map.get($COLORS, base);
    border: 1px solid map.get($COLORS, base);
    color: map.get($COLORS, inverse);
}


.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(30px);
    border-radius: 2px;
    @include rem(padding, 8px 8px);
    @include buttonMainStyle;
    @extend %textMeta;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    transition-property: color, background-color, border-color;

    &--size-small {
        @include rem(padding, 6px 6px);
    }
    &--style-primary {
        @include buttonPrimaryStyle;
    }
    &--type-button-text {
        border: unset;
        background-color: unset;
        padding: unset;
        color: inherit;
        @include rem(gap, 6px);
        
        .icon-rounded {
            order: -1;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            @include buttonPrimaryStyle;
        }
        &--style-primary:hover {
            @include buttonMainStyle;
        }
        &--type-button-text:hover {
            background-color: unset;
            border: unset;
            color: inherit;

            .icon-rounded {
                @include iconRoundedPrimary;
            }
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(padding, (16px 8px) (20px 8px));

        &--size-small {
            @include clamp(padding, (10px 6px) (16px 6px));
        }

        &--type-button-text {
            @include clamp(gap, 12px 6px);
        }
        &--type-button-text {
            padding: unset;
        }
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
       @include media(desktop) {
            @include rem(padding, 16px 20px);

            &--size-small {
                @include rem(padding, 10px 16px);
            }

            &--type-button-text {
                @include rem(gap, 12px);
            }

            &--type-button-text {
                padding: unset;
            }
       }
    }
}

