@use 'sass:map';

.form {
  &__header {
      &:not(:last-child) {
        @include fluid(margin-bottom, 32px 20px);
      }
  }
  &__body {
    display: grid;
    @include fluid(gap, 16px 8px);
  }

  &__label {
    @extend %textMeta;
    text-transform: uppercase;
    color: map.get($COLORS, muted);
  }
  &__title {
    @extend %h2;
  }
}