@use 'sass:map';

.headerText {
    font-family: map.get($FONTS, satoshi);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include rem(gap, 12px);

    &__tag {
        text-transform: uppercase;
        @extend %textMeta;
    }

    &__text {
        font-family: map.get($FONTS, chillax);
        p {
            color: map.get($COLORS, muted);
        }
    }

    &__button {
        font-family: map.get($FONTS, satoshi);
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(gap, 16px);
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(gap, 16px 12px);
    }
}