@use 'sass:map';

.headerText {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include rem(gap, 12px);

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(gap, 16px);
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(gap, 16px 12px);
    }
}