@use 'sass:map';

.headerText {
    font-family: map.get($FONTS, satoshi);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include fluid(gap, 16px 12px);

    &__tag {
        text-transform: uppercase;
        @extend %textMeta;
    }

    &__title,
    &__tag {
        @include rem(max-width, 1000px);
    }

    &__text {
        @include rem(max-width, 600px);
    }

    &__text {
        font-family: map.get($FONTS, chillax);
        p {
            color: map.get($COLORS, muted);
        }
    }

    &__button {
        font-family: map.get($FONTS, satoshi);
    }

    &--gap-8 {
        @include fluid(gap, 8px 6px);

        .headerText {
            &__button {
                @include fluid(margin-top, 24px 16px);
            }
        }
    }

    &--left {
        text-align: left;
        align-items: flex-start;
    }
}

.info-headerText {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(226px, 100%), 1fr));
    @include fluid(gap, 32px 10px);

    &__item {
        @extend %input;
        backdrop-filter: unset;
        display: flex;
        flex-flow: column nowrap;
        @include rem(gap, 4px);
        @include fluid(padding, 16px 8px);
    }
    &__label {
        @extend %textMeta;
        text-transform: uppercase;
        opacity: .6;
    }
    &__value {
        @extend %textMeta;
        text-transform: uppercase;
    }
}