@use 'sass:map';

.header {
    pointer-events: none;
    width: 100%;
    @include fluid(top, 48px 20px);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: map.get($ZINDEXES, immortal);

    &__body {
        pointer-events: all;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: 1px solid map.get($COLORS, border_default);
        border-radius: 2px;
        @include rem(padding, 12px);
        @include fluid(gap, 32px 12px);
        backdrop-filter: blur(30px);
        background-color: map.get($COLORS, background_muted);
    }
    .menu {
        &__item {
            cursor: pointer;
        }
        &__list {
            @include fluid(gap, 20px 12px);
        }
    }
    
    @include media(tablet) {
        &__burger {
            display: none;
        }
        &__body {
            width: max-content;
        }
        .menu {
            &__item {
                @include rem(padding, 10px 0);
            }

            &__item {
                position: relative;
                > ul {
                    position: absolute;
                    top: calc(100% + 2px);
                    right: 0;
                    border: 0px solid map.get($COLORS, border_default);

                    border-radius: 2px;
                    background-color: map.get($COLORS, background_muted);  
                }
            }

            .submenu-menu {
                ul {
                    &.active {
                        border-width: 1px;
                    }
                }
                & > ul {
                    transition: .4s ease-in-out;
                    transition-property: transform, opacity, visibility; 

                    li {
                        @include fluid(padding, 16px 8px);
                    }
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        > .submenu-menu {
                            &__list {
                                border-width: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}