@use 'sass:map';

.header {
    pointer-events: none;
    width: 100%;
    @include fluid(top, 48px 20px);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: map.get($ZINDEXES, immortal);

    &__body {
        pointer-events: all;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: 1px solid map.get($COLORS, border_default);
        border-radius: 2px;
        @include rem(padding, 12px);
        @include fluid(gap, 32px 12px);
        backdrop-filter: blur(30px);
        background-color: map.get($COLORS, background_muted);
    }
    .menu {
        flex: 1;

        &__list {
            @include fluid(gap, 20px 12px);
        }

        .submenu-menu {
            cursor: pointer;

            span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include rem(gap, 6px);
            }
        }

        svg {
            @include rem((
                width: 8px,
                height: 6px
            ));
        }
    }
    
    @include media(tablet) {
        &__burger {
            display: none;
        }
        &__body {
            width: max-content;
        }
        .menu {
            &__item {
                @include rem(padding, 10px 0);
            }

            .submenu-menu {
                & > ul {
                    position: absolute;
                    transition: .4s ease-in-out;
                    transition-property: transform, opacity, visibility;
                    border: 0px solid map.get($COLORS, border_default);

                    border-radius: 2px;
                    background-color: map.get($COLORS, background_muted);   

                    li {
                        @include fluid(padding, 16px 8px);
                        & li {
                            &:last-child {
                                padding-bottom: unset;
                            }
                        }
                    }
                }
                ul {
                    // overflow: hidden;
                    // max-height: 0px;
                    // transform: translateY(-20px);
                }

                @media(any-hover: hover) {
                    &:hover {
                        & > ul {
                            border-width: 1px;
                            max-height: unset;
                            transform: translateY(10px);
                        }
                    }
                }
            }
        }
    }
}