@use 'sass:map';

.headerText {
    font-family: map.get($FONTS, satoshi);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include rem(gap, 12px);

    &__tag {
        text-transform: uppercase;
        @extend %textMeta;
    }

    &__title,
    &__tag {
        @include rem(max-width, 1000px);
    }

    &__text {
        @include rem(max-width, 600px);
    }

    &__text {
        font-family: map.get($FONTS, chillax);
        p {
            color: map.get($COLORS, muted);
        }
    }

    &__button {
        font-family: map.get($FONTS, satoshi);
    }

    &--gap-8 {
        @include rem(gap, 6px);

        .headerText {
            &__button {
                @include rem(margin-top, 16px);
            }
        }
    }

    &--left {
        text-align: left;
        align-items: flex-start;
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(gap, 16px);

            &--gap-8 {
                @include rem(gap, 8px);

                .headerText {
                    &__button {
                        @include rem(margin-top, 24px);
                    }
                }
            }
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(gap, 16px 12px);

        &--gap-8 {
            @include clamp(gap, 8px 6px);

            .headerText {
                &__button {
                    @include clamp(margin-top, 24px 16px);
                }
            }
        }
    }
}

.info-headerText {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(226px, 100%), 1fr));
    @include rem(gap, 10px);

    &__item {
        @extend %input;
        backdrop-filter: unset;
        display: flex;
        flex-flow: column nowrap;
        @include rem((
            gap: 4px,
            padding: 8px
        ));
    }
    &__label {
        @extend %textMeta;
        text-transform: uppercase;
        opacity: .6;
    }
    &__value {
        @extend %textMeta;
        text-transform: uppercase;
    }

    @supports  (font-size: clamp(1px,1px,1px)) {
        @include clamp(gap, 32px 10px);

        &__item {
            @include clamp(padding, 16px 8px);
        }
    }

    @supports  not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(gap, 32px);

            &__item {
                @include rem(padding, 16px);
            }
        }
    }
}