@use 'sass:map';

.header {
    pointer-events: none;
    width: 100%;
    @include fluid(top, 48px 20px);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: map.get($ZINDEXES, immortal);

    &__body {
        pointer-events: all;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: 1px solid map.get($COLORS, border_default);
        border-radius: 2px;
        padding: 12px;
        @include fluid((
            padding-top: 24px 12px,
            gap: 32px 12px
        ));
        backdrop-filter: blur(30px);
        background-color: map.get($COLORS, background_muted);
    }
    .menu {
        flex: 1;

        &__list {
            @include fluid(gap, 20px 12px);
        }
    }
    
    @include media(tablet) {
        &__burger {
            display: none;
        }
        &__body {
            width: max-content;
        }
        .menu {
            @include rem(padding, 10px 0);
        }
    }
}