@use 'sass:map';


@mixin iconRoundedPrimary {
    border: unset;
    backdrop-filter: unset;
    background-color: map.get($COLORS, base);
    color: map.get($COLORS, inverse);
}

.icon-rounded {
    transition: .2s ease-in-out;
    transition-property: color, background-color, border-color;
    border-radius: 100%;
    border: 1px solid map.get($COLORS, border_default);
    backdrop-filter: blur(30px);
    background: map.get($COLORS, background_muted);
    display: flex;
    justify-content: center;
    align-items: center;
    @include fluid((
        width: 46px 38px,
        height: 46px 38px
    ));

    &__icon {
        @include fluid((
            width: 23px 18px,
            height: 23px 18px
        ));
    }

    &--size-38 {
        @include fluid((
            width: 38px 32px,
            height: 38px 32px
        ));

        .icon-rounded__icon {
            @include fluid((
                width: 16px 14px,
                height: 16px 14px
            ));
        }
    }
    &--size-32 {
        @include fluid((
            width: 32px 30px,
            height: 32px 30px
        ));

        .icon-rounded__icon {
            @include fluid((
                width: 15px 14px,
                height: 15px 14px
            ));
        }
    }
    &--size-30 {
        @include fluid((
            width: 30px 22px,
            height: 30px 22px
        ));

        .icon-rounded__icon {
            @include fluid((
                width: 14px 12px,
                height: 14px 12px
            ));
        }
    }
    &--primary {
        @include iconRoundedPrimary;
    }
}

.icon {
    @include fluid((
        width: 23px 18px,
        height: 23px 18px
    ));

    &--size-38 {
        @include fluid((
            width: 16px 14px,
            height: 16px 14px
        ));
    }

    &--size-32 {
        @include fluid((
            width: 15px 14px,
            height: 15px 14px
        ));
    }

    &--size-30 {
        @include fluid((
            width: 14px 12px,
            height: 14px 12px
        ));
    }
}