@use 'sass:map';

.processCard {
    &__wrapper {
        @extend %card;
        display: flex;
        flex-flow: column nowrap;
        position: relative;

        & > * {
            @include fluid(margin-bottom, 32px 16px);

            &:last-child {
                margin-bottom: unset;
            }
        }
    }
    
    &__time {
        margin-bottom: unset!important;
        align-self: flex-end;
        position: absolute;
        @extend %input;
        @extend %textMetaSmall;
        text-transform: uppercase;
        @include rem(padding, 8px);
        @include fluid((
            right: 20px 10px,
            top: 20px 10px
        ));
    }
    &__tag {
        margin-bottom: 4px!important;
        font-family: map.get($FONTS, satoshi);
        @extend %textMeta;
        text-transform: uppercase;
        color: map.get($COLORS, muted);
    }
    &__title {
        font-family: map.get($FONTS, satoshi);
        @extend %h4;
        text-transform: uppercase;
        @include rem(margin-bottom, 16px!important);
    }
    &__text {
        color: map.get($COLORS, muted);
    }
    &__list {
        display: flex;
        flex-flow: column nowrap;
        @include fluid(gap, 16px 8px);
        li {
            list-style-type: initial;
            list-style-position: inside;
        }
    }
}