@use 'sass:map';

.serviceCard {
    font-family: map.get($FONTS, satoshi);
    @extend %addCounter;
    @extend %card;
    backdrop-filter: unset;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    & > * {
        @include rem(margin-bottom, 16px);

        &:last-child {
            margin-bottom: unset;
        }
    }

    &::before {
        @extend %textMeta;
        color: map.get($COLORS, muted);
        margin-bottom: 4px;
    }

    &__title {
        @extend %h4;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        color: map.get($COLORS, muted);
    }

    @supports (font-size: clamp(1px,1px,1px)) { 
        & > * {
            @include clamp(margin-bottom, 32px 16px);
        }

        &__title {
            margin-bottom: 8px;
        }
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            & > * {
                @include rem(margin-bottom, 32px);
            }

            &__title {
                margin-bottom: 8px;
            }
        }
    }
}