@use 'sass:map';

.serviceCard {
    font-family: map.get($FONTS, satoshi);
    @extend %addCounter;
    @extend %card;
    @extend %watcherDefault;
    backdrop-filter: unset;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    & > * {
        @include fluid(margin-bottom, 32px 16px);

        &:last-child {
            margin-bottom: unset;
        }
    }

    &::before {
        @extend %textMeta;
        color: map.get($COLORS, muted);
        margin-bottom: 4px;
    }

    &__title {
        @extend %h4;
        text-transform: uppercase;
        @include rem(margin-bottom, 8px);
    }

    &__text {
        color: map.get($COLORS, muted);
    }
}