@use 'sass:map';

.singleworkAboutCard {
    @extend %card;
    @extend %watcherDefault;
    backdrop-filter: unset;

    &__title {
        @extend %h4;

        &:not(:last-child) {
           @include fluid(margin-bottom, 16px 8px);
        }
    }

    &__text {
        color: map.get($COLORS, muted);
    }
}