@use 'sass:map';

.social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include rem(gap, 8px);

    &--vertical {
        flex-direction: column;
        align-items: flex-start;
    }

    &__label {
        @extend %textMeta;
        font-family: map.get($FONTS, satoshi);
        text-transform: uppercase;
        color: map.get($COLORS, muted);
        transition: color .2s ease-in-out;
    }
    &__link {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include rem(column-gap, 8px);
    }

    @media (any-hover: hover) {
        &__link:hover {
            .social {
                &__icon-rounded {
                    @include iconRoundedPrimary;
                }
                &__label {
                    color: map.get($COLORS, base);
                }
            }
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp((
            column-gap: 10px 8px,
            row-gap: 16px 8px
        ));
        &__link {
            @include clamp(column-gap, 16px 8px);
        }
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
       @include media(desktop) {
            .social {
                @include rem((
                    column-gap: 10px,
                    row-gap: 16px
                ));
                &__link {
                    @include rem(column-gap, 16px);
                }
            }
       }
    }
}