@use 'sass:map';

.social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include fluid((
        column-gap: 10px 8px,
        row-gap: 16px 8px
    ));

    &--vertical {
        flex-direction: column;
        align-items: flex-start;
    }
    &--button {
        @include fluid(column-gap, 16px 8px);

        .social {
            &__item {
                flex: 1;
                @include fluid(flex-basis, 256px 128px);
            }
            &__label {
                color: map.get($COLORS, base);
            }
            &__link {
                @extend %input;
                @include fluid(padding, (16px 10px) (24px 15px));
            }
        }
    }

    &__label {
        @extend %textMeta;
        font-family: map.get($FONTS, satoshi);
        text-transform: uppercase;
        color: map.get($COLORS, muted);
        transition: color .2s ease-in-out;
    }
    &__link {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include fluid(column-gap, 16px 8px);

        &-icon {
            @include fluid((
                width: 20px 14px,
                height: 20px 14px
            ))
        }
        &-arrow {
            @include fluid((
                width: 18px 14px,
                height: 18px 14px
            ));
            margin-left: auto;
        }
    }

    @media (any-hover: hover) {
        &__link:hover {
            .social {
                &__icon-rounded {
                    @include iconRoundedPrimary;
                }
                &__label {
                    color: map.get($COLORS, base);
                }
            }
        }
        &--button {
            .social__link:hover {
                @include buttonPrimaryStyle;

                .social__label {
                    color: map.get($COLORS, inverse);
                }
            }
        }
    }
}