@use 'sass:map';

.testimonialCard {
    display: grid;
    height: 100%;
    @include rem(grid-template-rows, 16px 1fr 16px);

    &__inner {
        @extend %card;
        display: flex;
        flex-flow: column nowrap;
        @include fluid(gap, 32px 12px);
    }
    &__title {
        @extend %h4;
        font-family: map.get($FONTS, satoshi);
    }
    &__text {
        color: map.get($COLORS, muted);
    }

    .avatar-testimonialCard {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        @include fluid(gap, 16px 8px);

        &__image {
            img {
                border-radius: 100%;
                @include fluid((
                    max-width: 60px 30px,
                    max-height: 60px 30px
                ))
            }
        }
        &__content {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
        }
        &__name {
            @extend %textMeta;
            font-family: map.get($FONTS, satoshi);
            text-transform: uppercase;
        }
        &__company {
            @extend %textSmall;
            color: map.get($COLORS, muted);
        }
    }

    @include media(desktop) {
        @include rem(grid-template-rows, 32px 1fr 32px);
    }
}