@use 'sass:map';

%workCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.workCard {
    overflow: hidden;
    position: relative;
    font-family: map.get($FONTS, satoshi);

    &__background {
        cursor: pointer;
    }
    &__link {
        display: block;
    }
    &__icon-rounded {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: .4s ease-in-out;
        transition-property: visibility, opacity;
    }
    &__noise {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        
        img {
            @extend %workCardImage;
        }
    }
    &__image {
        transition: transform .4s ease-in-out;

        img {
            @extend %workCardImage;
        }
    }
    &__content {
        position: absolute;
        z-index: 2;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 2px;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fluid((
            padding: (12px 8px) (16px 8px),
            left: 32px 12px,
            right: 32px 12px,
            bottom: 32px 12px
        ));
    }

    &__title {
        @extend %h4;
    }

    &__text {
        @extend %textMeta;
        text-transform: uppercase;
    }

    @media (any-hover: hover) {
        &__background:hover {
            .workCard  {
                &__image {
                    transform: scale(1.1);
                }
                &__icon-rounded {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}