<%

%>

<footer class="footer">
	<div class="footer__container container">
		<%- include('src/ejs/components/bodyFooter.ejs', {
			bodyFooter_component: {
				block: 'footer',
				title: {
					label: 'Pages',
					type: 'h6'
				},
				logo: {
					link: '#',
					image_component: {
						this: {
							parent: 'header'
						},
						img: {
							src: '/media/image/logo.svg',
							alt: 'website-logo'
						}
					}
				}
			}
		}) %>
		<div class="footer__bottom bottom-footer">
			<div class="bottom-footer__copyright">
				© 2022 Made by Pawel Gola. Powered by Framer..
			</div>
			<%- include('src/ejs/components/button.ejs', {
				button_component: {
					this: {
						dataAttribute: "data-fsc-scroll data-fsc-scroll-to=main data-fsc-scroll-behaviour=smooth data-fsc-scroll-block=start"
					},
					class: 'bottom-footer__up',
					label: 'To Top',
					type: 'button-text',
					icon_component: {
						block: 'bottom-footer',
						name: 'ph_arrow-up-light',
						size: '46',
						rounded: true
					}
				}
			}) %>
		</div>
	</div>
</footer>