<%
	blockClass = 'hero-work'
%>

<section class='layout__<%=blockClass%> <%=blockClass%>'>
	<div class='<%=blockClass%>__container container'>
		<%- include('src/ejs/components/headerText.ejs', {
			headerText_component: {
				block: blockClass,
				header: {
					label: `Work`,
					type: 'h1'
				},
				text: {
					label: [
						'My latest web design projects and see how we can help bring your ideas to life.',
					],
					size: '24'
				}
			}
		})%>
	</div>
</section>