<%
	var statsCommonProperties = {
		this: {
			class: 'stats__item',
			type: 'article',
			dataAttribute: [
				'data-fsc-counter-duration=3000',
				'data-fsc-counter-easing=1',
			]
		}
	}
%>

<section class="layout__stats stats">
	<div class="stats__container container" data-fsc-watcher data-fsc-watcher-once>
		<%- include('src/ejs/components/statsItem.ejs', {
			statsItem_component: {
				...statsCommonProperties,
				title: {
					label: 'Clients',
					tag: 'h4'
				},
				value: {
					label: '150',
					symbol: '+'
				}
			}
		})%>
		<%- include('src/ejs/components/statsItem.ejs', {
			statsItem_component: {
				...statsCommonProperties,
				title: {
					label: 'Projects',
					tag: 'h4'
				},
				value: {
					label: '300',
					symbol: '+'
				}
			}
		})%>
		<%- include('src/ejs/components/statsItem.ejs', {
			statsItem_component: {
				...statsCommonProperties,
				title: {
					label: 'Happy Clients',
					tag: 'h4'
				},
				value: {
					label: '100',
					symbol: '%'
				}
			}
		})%>
		<%- include('src/ejs/components/statsItem.ejs', {
			statsItem_component: {
				...statsCommonProperties,
				title: {
					label: 'Followers',
					tag: 'h4'
				},
				value: {
					label: '100',
					symbol: 'K'
				}
			}
		})%>
	</div>
</section>