@function pxToRem($px, $base: null) {
    @if(map-get($BASE, font_size) <= abs($px) + 5px) {
       @if $base != null {
         @return calc(round(($px / $base) * 100) / 100) * 1rem;
       }
       @else {
         @return calc(round(($px / map-get($BASE, font_size)) * 100) / 100) * 1rem;
       }
    }
    @return $px;
}
@function calculateValue($val, $base: null) {
   @if $base != null {
    @if type-of($val) == "list" {
        $isImportant: false;
        $temp: ();
        @each $elem in $val {
            @if(type-of($elem) == 'number') {
                $temp: append($temp, pxToRem($elem, $base));
            }
            @else if(type-of($elem) == 'string' and $elem == '!important') {
                 $isImportant: true;
            }
        }
        @if($isImportant) {
            $temp: append($temp, !important);
        }

        @return $temp;
    }
    @else {
        @return pxToRem($val, $base);
    }
   }
   @else {
     @if type-of($val) == "list" {
        $isImportant: false;
        $temp: ();
        @each $elem in $val {
            @if(type-of($elem) == 'number') {
                $temp: append($temp, pxToRem($elem));
            }
            @else if(type-of($elem) == 'string' and $elem == '!important') {
                 $isImportant: true;
            }
        }
        @if($isImportant) {
            $temp: append($temp, !important);
        }

        @return $temp;
    }
    @else {
        @return pxToRem($val);
    }
   }
}
