$SETTINGS: (
    // pixels perfect
    pixels_only: false,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1
);

$BASE: (
    // font_size: (16px * 0.8),
    font_size: 16px,
    font_weight: 400,
    line_height: 1,
    font_family: 'Chillax',
    main_color: rgba(218, 197, 167, .60),
    background_color: #0e0e0e,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1920px
    // media: (
    //     tablet: (16px / (16px * 0.95)),
    //     desktop: (16px / (16px * 0.9)),
    //     wide: (16px / (16px * 0.8))
    // )
);

$CONTAINER: (
    mobile: (
        width: 575.98px,
        max-width: 540px,
        padding-x: (30px * 2)
    ),
    tablet: (
        width: 767.98px,
        max-width: 720px,
        padding-x: (30px * 2)
    ),
    desktop: (
        width: 991.98px,
        max-width: 960px,
        padding-x: (30px * 2)
    ),
    wide: (
        width: 1199.98px,
        max-width: 1140px,
        padding-x: (30px * 2)
    ),
    normal: (
        width: 1399.98px,
        max-width: 1320px,
        padding-x: (30px * 2)
    )
);

$HEADERS: (
   h1: (
    font_size: 64px,
    line_height: 64px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   h2: (
    font_size: 1px,
    line_height: 1px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   h3: (
    font_size: 1px,
    line_height: 1px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   h4: (
    font_size: 1px,
    line_height: 1px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   h5: (
    font_size: 1px,
    line_height: 1px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   h6: (
    font_size: 1px,
    line_height: 1px,
    font_weight: 600,
    media: (
        tablet: 1.2,
        desktop: 1.4,
        wide: 1.6
    )
   ),
   
);

$BURGER: (
    color_primary: #000,
    color_active: red,
    origin_top: 0,
    origin_bottom: 0,
    animation_speed: .2s
);

$COLORS: (
    base: map-get($SETTINGS, main_color),
    lite: #dac5a7,
    background: map-get($SETTINGS, background_color)
);