@use 'sass:map';

.about-singlework {
    &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        @include rem(gap, 20px);
    }

    &__tag {
        @extend %textMeta;
        text-transform: uppercase;
        color: map.get($COLORS, muted);
    }

    &__title {
        @extend %h2;
    }

    &__content,
    &__items {
        @include rem(flex, 1 1 325px);
    }

    &__items {
        display: grid;
        @include rem(gap, 16px);
    }

    @include media(tablet) {
        &__content {
            position: sticky;
            @include rem(top, 30px + 68px + 160px);
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        &__container {
            @include clamp(column-gap, 96px 20px);
        }
        &__items {
            @include clamp(gap, 32px 16px);
        }
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
       @include media(desktop) {
            &__container {
                @include rem(column-gap, 96px);
            }
            &__items {
                @include rem(gap, 32px);
            }
       }
    }
}