@use 'sass:map';

.about {
    &__container {
        @include rem(max-width, 1200px);
    }
    @include fluid(padding-bottom, 232px 80px);
}

.top-about {
    display: flex;
    flex-flow: column;
    align-items: center;

    &__title {
        &:last-child {
            display: none;
        }

        @include media(desktop) {
            &[data-fsc-watcher] {
                transition: 
                    transform 1s cubic-bezier(.16,1,.3,1),
                    opacity .6s ease-in-out;
                opacity: 0;

                &:first-child {
                    transform: translateX(-40px);
                }
                &:last-child {
                    transform: translateX(40px);
                }

                &.intersected {
                    opacity: 1;

                    &:first-child {
                        transform: translateX(40px);
                    }
                    &:last-child {
                        transform: translateX(-40px);
                    }
                }
            }
        }
       
    }

    &__image {
        width: 100%;
        @include rem(max-width, 880px);
        aspect-ratio: 880 / 769;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: lighten;
        }
    }

    @include media(desktop) {
        flex-flow: row nowrap;
        justify-content: center;
        @include fluid(gap, 32px 16px);

        & > * {
            flex: 0 0 auto;
        }

        &__title {
            &:last-child {
                display: unset;
            }
        }
    }
}

.wrapper-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @include fluid(gap, 64px 32px);

    & > * {
        @include rem(flex, 1 1 430px);
    }

    @extend %watcherDefault;

    &__title {
        font-family: map.get($FONTS, satoshi);
    }
    &__text {
        color: map.get($COLORS, muted);
    }

    &__right {
        & > * {
            @include fluid(padding-bottom, 32px 16px);

            &:last-child {
                padding-bottom: unset;
            }
        }
    }
}