@use 'sass:map';

.clients {
    .marquee {
        overflow: hidden;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
        
        ul {
            display: flex;
            align-items: center;
            @include fluid(column-gap, 128px 48px);
        }
    }
}