@use 'sass:map';

.contacts {
    &__container {
        align-items: flex-start;
        @include fluid(column-gap, 80px 20px);
    }
    &__picture {
        display: none;
    }
    
    &__body {
        @include rem(flex, 1 1 600px);
        display: grid;
        @include rem(gap, 16px);
    }
    .social--button {
        .social__item {
            @include fluid(flex-basis, 292px 128px);
        }
    }

    @include media(tablet) {
        &__container {
            display: flex;
            flex-direction: row;
        }
        &__picture {
            position: sticky;
            @include rem(top, 68px);
            display: block;
            @include rem(flex, 1 1 719px);
            aspect-ratio: 719 / 814;
            mix-blend-mode: lighten;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}