@use 'sass:map';

.contacts {
    &__container {
        align-items: flex-start;
        @include rem(column-gap, 20px);
    }
    &__picture {
        display: none;
    }
    
    &__body {
        @include rem(flex, 1 1 600px);
        display: grid;
        @include rem(gap, 16px);
    }
    .social--button {
        .social__item {
            @include rem(flex-basis, 292px);
        }
    }

    @include media(tablet) {
        &__container {
            display: flex;
        }
        &__picture {
            display: block;
            @include rem(flex, 1 1 719px);
            aspect-ratio: 719 / 814;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                mix-blend-mode: lighten;
            }
        }
    }

    @supports (font-size: clamp(1px,1px,1px)) {
        &__container {
            @include clamp(column-gap, 80px 20px);
        }
        .social--button {
            .social__item {
                @include clamp(flex-basis, 292px 128px);
            }
        }
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            &__container {
                @include rem(column-gap, 80px);
            }
        }
    }
}