@use 'sass:map';



.cta {
    background-color: map.get($COLORS, background_muted);

    &__container {
       @extend %watcherHeaderText;
    }

    .marquee {
        @include fluid((
            padding-top: 16px 8px,
            padding-bottom: 16px 8px
        ));
        border-radius: 2px;
        background: rgba(218, 197, 167, 0.1);

        &__inner {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            will-change: transform;
            @include fluid(gap, 40px 20px);

            & > * {
                white-space: nowrap;
            }
        }

        &__item {
            @extend %textMeta;
            font-family: map.get($FONTS, satoshi);
            text-transform: uppercase;
        }
    }

    &__body {
        @include fluid((
            padding-top: 160px 40px,
            padding-bottom: 160px 40px,
        ));
    }
}