@use 'sass:map';

.cta {
    background-color: map.get($COLORS, background_muted);

    &__container {
         .headerText {
                &__tag {
                    transition: 
                        opacity .6s ease-in-out,
                        transform 1s cubic-bezier(.16,1,.3,1);
                    transform: translateY(-40px);
                    opacity: 0;
                }

                &__title,
                &__text,
                &__button {
                    transition: 
                        opacity .6s ease-in-out,
                        transform 1s cubic-bezier(.16,1,.3,1);
                    transform: translateY(40px);
                    opacity: 0;
                }
            }

            &.intersected {
                .headerText {
                    &__tag {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    &__title,
                    &__text,
                    &__button {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
    }

    .marquee {
        @include fluid((
            padding-top: 16px 8px,
            padding-bottom: 16px 8px
        ));
        border-radius: 2px;
        background: rgba(218, 197, 167, 0.1);

        &__inner {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            @include fluid(gap, 40px 20px);

            & > * {
                white-space: nowrap;
            }
        }

        &__item {
            @extend %textMeta;
            font-family: map.get($FONTS, satoshi);
            text-transform: uppercase;
        }
    }

    &__body {
        @include fluid((
            padding-top: 160px 40px,
            padding-bottom: 160px 40px,
        ));
    }
}