@use 'sass:map';

.faq {
    &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        @include fluid(gap, 48px 16px);
    }
    &__header {
        @include fluid(margin-top, 32px 16px);
        flex: 1 1 pxToRem(300px);
        font-family: map.get($FONTS, satoshi);

        @extend %watcherDefault;
    }
    &__tag {
        @extend %textMeta;
        text-transform: uppercase;
        color: map.get($COLORS, muted);
        
        &:not(:only-child) {
            @include rem(margin-bottom, 8px);
        }
    }
    &__title {
        @extend %h1;
    }
    &__items {
        flex: 1 1 50%;
    }
    [data-fsc-accordion] {
        [data-fsc-accordion-summary] {
            @include rem(column-gap, 8px);
        }
    }
    .accordion {
        @extend %input;
        backdrop-filter: unset;
        @extend %watcherDefault;
        @include fluid(padding, 32px 16px);

        &:not(:last-child) {
            @include fluid(margin-bottom, 16px 8px);
        }

        &__title {
            @extend %h5;
            font-family: map.get($FONTS, satoshi);
        }
        &__figure {
            @include rem((
                width: 30px,
                height: 30px,
            ));
            aspect-ratio: 1;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: map.get($COLORS, background_muted);
                backdrop-filter: blur(30px);
                border: 1px solid map.get($COLORS, border_default);
                border-radius: 50%;
            }
        }
        &__icon {
            transition: transform .3s ease-in-out;

            @include rem((
                width: 16px,
                height: 16px,
            ));
        }
        &__body {
            @include fluid(padding-top, 16px 8px);
            color: map.get($COLORS, muted);
        }

        &[data-fsc-accordion-active] {
            .accordion {
                &__icon {
                    transform: rotate(-45deg);
                }
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                .accordion {
                    &__icon {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    @include media(tablet) {
        &__header {
            position: sticky;
            @include rem(top, 20px + 62px + 64px);
        }
    }
}