@use 'sass:map';

.footer {
    background-color: map.get($COLORS, background_muted);
    @include fluid(padding, 64px 40px);

    &__container {
        @include rem(max-width, 1630px);
    }

    .bottom-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fluid(gap, 20px 10px);

        &__copyright {
            @extend %textXSmall;
            color: map.get($COLORS, muted);
        }

        &__up {
            div {
                order: 1;
            }
        }
    }

    .accordion {
        font-family: map.get($FONTS, satoshi);

        &__title {
            @extend %h5;
        }

        &__body {
            @include fluid(padding-top, 32px 20px);

            li {
                @extend %textMeta;
                text-transform: uppercase;
                color: map.get($COLORS, muted);
                transition: color .3s ease-in-out;

                @media (any-hover: hover) and (pointer: fine) {
                    &:hover {
                        color: map.get($COLORS, base);
                    }
                }
            }

            & > *:not(:last-child) {
                @include fluid(margin-bottom, 16px 8px);
            }
        }

        &__icon {
            @include rem((
                width: 15px,
                height: 15px
            ))
        }
    }

    & > * {
        &:not(:last-child) {
            @include fluid(margin-bottom, 80px 30px);
        }
    }
}