@use 'sass:map';

.footer {
    background-color: map.get($COLORS, background_muted);
    @include fluid(padding-top, 64px 40px);
    @include fluid(padding-bottom, 64px 40px);

    &__container {
        @include rem(max-width, 1630px);
    }

    .bottom-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fluid(gap, 20px 10px);

        &__copyright {
            @extend %textXSmall;
            color: map.get($COLORS, muted);
        }

        &__up {
            @include rem(flex, 1 1 200px);
            justify-content: flex-end;

            div {
                order: 1;
            }
        }
    }

    [data-fsc-accordion] {
        font-family: map.get($FONTS, satoshi);

        .accordion {
            &__title {
                @extend %h5;
            }
            &__body {
                @include fluid(padding-top, 32px 20px);
                opacity: 1;
                visibility: visible;
                height: max-content;

                li {
                    @extend %textMeta;
                    text-transform: uppercase;
                    color: map.get($COLORS, muted);
                    transition: color .3s ease-in-out;

                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            color: map.get($COLORS, base);
                        }
                    }
                }

                & > *:not(:last-child) {
                    @include fluid(margin-bottom, 16px 8px);
                }
            }
            &__icon {
                display: none;
                @include rem((
                    width: 15px,
                    height: 15px
                ))
            }
        }
    }
        
    @include media(tablet) {
        [data-fsc-accordion] {
            [data-fsc-accordion-body] {
                transform: unset;
                max-height: max-content;
            }
            &:hover {
                [data-fsc-accordion-body] {
                    transform: unset;
                }
            }
        }
    }
    @include media(tablet, max) {
        [data-fsc-accordion] {
            .accordion {
                &__icon {
                    transition: .3s ease-in-out;
                    transition-property: transform;
                    display: unset;
                }
            }
            &[data-fsc-accordion-active] {
                .accordion {
                    &__icon {
                        transform: rotate(45deg);
                    }
                }
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    .accordion {
                        &__icon {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
       
       
    }

    & > * {
        &:not(:last-child) {
            @include fluid(margin-bottom, 80px 30px);
        }
    }
}