@use 'sass:map';

.hero-work {
    @include rem(margin-bottom, 30px);

    @supports (font-size: clamp(1px,1px,1px)) {
       @include clamp(margin-bottom, 96px 30px);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(margin-bottom, 96px);
        }
    }
}