@use 'sass:map';

.hero-singleblog {
    &__info {
        &:not(:first-child) {
            @include fluid(margin-top, 64px 32px);
        }
    }
    &__media {
        position: relative;
        border: 1px solid map.get($COLORS, border_default);
        border-radius: 2px;
        overflow: hidden;

        &:not(:first-child) {
            @include fluid(margin-top, 16px 8px);
        }
    }
    &__noise {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
        }
    }
    &__image {
        width: 100%;
        aspect-ratio: 1400 / 900;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}