@use 'sass:map';

.hero {
    &__image {
        aspect-ratio: 880 / 769;

        img {
            mix-blend-mode: lighten;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}