@use 'sass:map';

.hero {
    &__image {
        aspect-ratio: 880 / 769;

        img {
            mix-blend-mode: lighten;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &[data-fsc-watcher] {
        .headerText {
            transition: 
                transform 1s cubic-bezier(.16,1,.3,1),
                opacity .6s ease-in-out;
            transform: translateY(40px);
            opacity: 0;
        }

        &.intersected {
            .headerText {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    
}