@use 'sass:map';

.hero-services {
    &__container {
        @include rem(max-width, 1660px);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}