@use 'sass:map';

.hero-singlework {
    &__headerText {
        @include rem(max-width, 1000px);
        @include fluid(padding-bottom, 64px 24px);
        margin: 0 auto;

    }
    &__body {
        overflow: hidden;
        position: relative;
        border: 1px solid map.get($COLORS, border_default);
    }
    &__noise {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        
        img {
            @extend %workCardImage;
        }
    }
    &__image {
        transition: transform .4s ease-in-out;

        img {
            @extend %workCardImage;
        }
    }
}