@use 'sass:map';

.hero-services {
    &__container {
        @include rem(max-width, 1660px);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        @extend %watcherHeaderText;

        &[data-fsc-watcher-animation] {
            .hero-services__image {
                @extend %watcherDown;
            }
            &.intersected {
                .hero-services__image {
                    @extend %watcherWatch;
                }
            }
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 1600 / 967;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}