@use 'sass:map';

.hero-about {
    &__container {
        @extend %watcherHeaderText;
    }
    &__picture {
        aspect-ratio: 520 / 590;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: lighten;
        }
    }
    &__headerText {
        &:not(:only-child) {
            @include fluid(margin-bottom, (128px - 12px) (64px - 12px));
        }
    }
    &__body {
        margin-top: 0;
        display: grid;
        @include rem((
            flex: 1 1 800px
        ));
        @include fluid((
            margin-top: 64px 0px,
            row-gap: 16px 12px
        ));
    }

    @include media(tablet, max) {
        &__picture {
            width: 100%;
            @include rem(max-width, 520px);
        }
    }
    @include media(tablet) {
        &__container {
            display: flex;
            @include rem(gap, 30px);
            @include fluid(column-gap, 80px 30px);
        }

        &__picture {
            @include rem(flex, 1 1 520px);

            img {
                position: sticky;
                height: max-content;
                @include rem(top, 20px + 62px + 64px);
            }
        }
    }
}