@use 'sass:map';

.hero-services {
    &__container {
        @include rem(max-width, 1630px);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__button {
        @include fluid((
            margin-top: 48px 16px,
            margin-bottom: 64px 16px
        ));
    }
}