@use 'sass:map';

.posts {
    &__container {
        @include rem(max-width, 1660px);
    }
    &__headerText {
        button,
        .icon-rounded {
            backdrop-filter: unset;
        }

        &:not(:last-child) {
            @include fluid(padding-bottom, 64px 32px);
        }
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
        @include fluid(gap, 32px 16px);
    }
}