@use 'sass:map';

.pricing {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(445px, 100%), 1fr));
        @include fluid(gap, 32px 16px);
    }
}

.pricingCard {
    @extend %card;
    @extend %watcherDefault;
    display: flex;
    flex-flow: column wrap;
    @include fluid(gap, 32px 16px);
    font-family: map.get($FONTS, satoshi);
    position: relative;

    &__popular {
        position: absolute;
        @include fluid((
            top: 20px 10px,
            right: 20px 10px
        ));
        @extend %textMetaSmall;
        font-family: map.get($FONTS, chillax);
        color: map.get($COLORS, inverse);
        text-transform: uppercase;
        background-color: map.get($COLORS, base);
        @include rem(padding, 8px);
        width: max-content;
    }

    &__header {
        display: grid;
        @include rem(gap, 8px);
    }

    &__tag {
        @extend %textMeta;
        text-transform: uppercase;
    }

    &__text {
        font-family: map.get($FONTS, chillax);
        color: map.get($COLORS, muted);
    }

    &__services {
        flex: 1;
    }

    &__service {
        @extend %textMeta;
        text-transform: uppercase;

        &:not(:last-child) {
            @include fluid((
                padding-bottom: 16px 8px,
                margin-bottom: 16px 8px,
            ));
            border-bottom: 1px solid map.get($COLORS, border_default);
        }
    }
}