@use 'sass:map';

.services {
    &__container {
        &[data-fsc-watcher] {
            transition: 
                transform 1s cubic-bezier(.16,1,.3,1),
                opacity .6s ease-in-out;
            transform: translateY(40px);
            opacity: 0;

            &.intersected {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
        @include fluid(gap, 32px 16px);

        @include media(desktop) {
            & > * {
                &:nth-child(3n + 4):last-child {
                    grid-column: 1 / -1;
                }
                &:nth-child(3n + 5):last-child {
                    grid-column: 2 / -1;
                }
            }
        }

        @media (min-width: map.get(map.get($CONTAINER, mobile), width)) and (max-width: 1073px) {
            & > * {
                &:nth-child(3):last-child {
                    grid-column: 1 / -1;
                }
                &:nth-child(even):last-child {
                    grid-column: auto;
                }
                &:nth-child(odd):last-child {
                    grid-column: 1 / -1;
                }
            }
        }
    }
}