@use 'sass:map';

.stats {
    &__container {
        display: flex;
        flex-flow: row wrap;
        @include rem((
            gap: 20px,
            max-width: 1260px
        ));
        @include fluid(column-gap, 64px 20px);
        align-items: flex-end;

        &[data-fsc-watcher] {
            .item-stats {
                &__title {
                    @extend %watcherUp;
                }
                &__value {
                    @extend %watcherDown;
                }
            }

            &.intersected {
                .item-stats {
                    &__title {
                        @extend %watcherWatch;
                    }
                    &__value {
                        @extend %watcherWatch;
                    }
                }
            }
        }
    }

    &__item {
        flex: 1 1 pxToRem(252px);
    }
}