@use 'sass:map';

.testimonials {
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        @include fluid((
            column-gap: 32px 16px,
            margin-top: 64px 32px
        ));
    }
    &__item {
       .testimonialCard {
            &__inner {
                grid-row: 1 / 3;
            }
        }
    }
   

    @include media(tablet) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            &:nth-child(odd) {
                .testimonialCard {
                    &__inner {
                        grid-row: 1 / 3;
                    }
                }
            }
            &:nth-child(even) {
                .testimonialCard {
                    &__inner {
                        grid-row: 2 / 4;
                    }
                }
            }
            &:first-child {
                    .testimonialCard {
                        &__inner {
                            grid-row: 1 / 3;
                        }
                    }
            }
            &:nth-child(2) {
                .testimonialCard {
                    &__inner {
                        grid-row: 1 / 4;
                    }
                }
            }
        }
    }
}