@use 'sass:map';

.work {
    &__container {
        &[data-fsc-watcher] {
            .work {
                &__header {
                    transition: transform 1s cubic-bezier(.16,1,.3,1);
                    transform: translateY(40px);
                }    
                &__content {
                    transition: 
                        transform 1s cubic-bezier(.16,1,.3,1),
                        opacity .6s ease-in-out;
                    transform: translateY(40px);
                    opacity: 0;
                }   
            }

            &.intersected {
                .work {
                    &__header {
                        transform: translateY(0);
                    }
                    &__content {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        @include fluid((
            margin-top: 32px 16px,
            gap: 32px 16px
        ));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(410px,100%), 1fr));
    }
}