@use 'sass:map';

.work {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        @include fluid((
            margin-top: 32px 16px,
            gap: 32px 16px
        ));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(410px,100%), 1fr));
    }
}