@use 'sass:map';

.work {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        @include rem((
            margin-top: 16px,
            gap: 16px
        ));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(600px,100%), 1fr));
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            &__content {
                @include rem((
                    margin-top: 32px,
                    gap: 32px
                ));
            }
        }
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        &__content {
            @include clamp((
                margin-top: 32px 16px,
                gap: 32px 16px
            ));
        }
    }
}