<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <%- include('./externe/components/DummyAside/DummyAside.ejs', {
        dummy_aside_component: {
            ul: [
                {
                    label: 'Font Icons',
                    href: 'fontIcons.html'
                },
                {
                    label: 'Home Page',
                    href: '/'
                },
            ]
        }
    }) %>
    <section class="titles">
        <div class="outer container">
            <div class="inner">
                <h1 class="text-center">Titles</h1>
                <h1>Title 1</h1>
                <h2>Title 2</h2>
                <h3>Title 3</h3>
                <h4>Title 4</h4>
                <h5>Title 5</h5>
                <h6>Title 6</h6>
                <h6>Title 6 <span>Cursiv</span></h6>
                <h5>Title 5 <span>Cursiv</span></h5>
                <h4>Title 4 <span>Cursiv</span></h4>
                <h3>Title 3 <span>Cursiv</span></h3>
                <h2>Title 2 <span>Cursiv</span></h2>
                <h1>Title 1 <span>Cursiv</span></h1>
            </div>
        </div>
    </section>
    <section class="paragraph">
        <div class="outer container">
            <div class="inner">
                <h1 class="text-center">Paragraph</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <div class="text text--size-24">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="text text--size-20">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="text text--size-18">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                 <div class="text text--size-14">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                 <div class="text text--size-12">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>
	<section class='icon_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">ICON Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '30',
                            rounded: true
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '38',
                            rounded: true
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            rounded: true
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '30',
                            style: 'primary',
                            rounded: true
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '38',
                            style: 'primary',
                            rounded: true
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            block: 'asfasgas',
                            name: 'ph_arrow-down-light',
                            style: 'primary',
                            rounded: true
                        }
                    })%>
                </div>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '30'
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light',
                            size: '38'
                        }
                    })%>
                    <%- include('src/ejs/components/icon.ejs', {
                        icon_component: {
                            name: 'ph_arrow-down-light'
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='button_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">BUTTON Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            size: 'small'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            size: 'small',
                            icon_component: {
                                name: 'ph_arrow-down-light'
                            }
                        }
                    })%>
                </div>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            size: 'small',
                            style: 'primary'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            style: 'primary'
                        }
                    })%>
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            // link: 'root',
                            size: 'small',
                            style: 'primary',
                            icon_component: {
                                name: 'ph_arrow-down-light'
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
    <section class='button_component TEXT'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">BUTTON TEXT Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/button.ejs', {
                        button_component: {
                            label: 'Button',
                            type: 'button-text',
                            icon_component: {
                                block: 'asfasgas',
                                name: 'ph_arrow-down-light',
                                size: '30',
                                // style: 'primary',
                                rounded: true
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='headerText_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">HEADERTEXT Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/headerText.ejs', {
                        headerText_component: {
                            tag: 'THe PRocess',
                            header: {
                                label: `Web Designer <span>& Developer</span>`,
                                type: 'h2'
                            },
                            text: {
                                label: [
                                    'Premium web design, development, and SEO services to help your business stand out.',
                                ],
                                size: '24'
                            },
                            button_component: {
                                block: 'headerText',
                                label: 'Button',
                                size: 'small',
                                icon_component: {
                                    name: 'ph_arrow-down-light'
                                }
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='serviceCard_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">SERVICECARD Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/serviceCard.ejs', {
                        serviceCard_component: {
                            title: 'Web design',
                            text: {
                                label: [
                                    'Visually stunning web designs that captivate your audience by blending your brand voice and customer needs.'
                                ],
                                size: 'default'
                            },
                            button_component: {
                                label: 'About Webdesign',
                                type: 'button-text',
                                icon_component: {
                                    block: 'asfasgas',
                                    name: 'ph_arrow-up-right-light',
                                    size: '32',
                                    rounded: true
                                }
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='workCard_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">WORKCARD Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/workCard.ejs', {
                        workCard_component: {
                            tag: {
                                label: 'Webdesign',
                                link: ''
                            },
                            type: 'Space',
                            image_component: {
                                class: 'workCard__image',
                                img: {
                                    src: '/media/image/works/w1.png',
                                }
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='processCard_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">PROCESSCARD Component</h6>
                <div class="flex items-center flex-col gap-x-2">
                    <%- include('src/ejs/components/processCard.ejs', {
                        processCard_component: {
                            time: 'Time',
                            tag: 'Tag',
                            title: {
                                label: 'Title',
                                tag: 'h4'
                            },
                            text: {
                                label: [
                                    'Before we start, we determine if and how I can help you. What are your requirements for your new website? Why do you need a new website? What goals do you have, and what problems can we solve with a new website?'
                                ]
                            },
                            list: [
                                'list1',
                                'list2',
                                'list3'
                            ]
                        }
                    })%>
                    <%- include('src/ejs/components/processCard.ejs', {
                        processCard_component: {
                            direction: 'left',
                            time: 'Time',
                            tag: 'Tag',
                            title: {
                                label: 'Title',
                                tag: 'h4'
                            },
                            text: {
                                label: [
                                    'Before we start, we determine if and how I can help you. What are your requirements for your new website? Why do you need a new website? What goals do you have, and what problems can we solve with a new website?'
                                ]
                            },
                            list: [
                                'list1',
                                'list2',
                                'list3'
                            ]
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='testimonialCard_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">TESTIMONIALCARD Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/testimonialCard.ejs', {
                        testimonialCard_component: {
                            logo_image_component: {
                                class: 'testimonialCard__logo',
                                img: {
                                    src: '/media/image/brands/brand3.svg',
                                    width: '30px',
                                    height: '20px'
                                }
                            },
                            title: {
                                label: 'Title',
                                tag: 'h4'
                            },
                            text: {
                                label: [
                                    'Text'
                                ],
                                // size: 'size'
                            },
                            avatar: {
                                icon_image_component: {
                                    block: 'avatar-testimonialCard',
                                    img: {
                                        src: '/media/image/clients/client1.png'
                                    }
                                },
                                name: 'Name',
                                company: 'company'
                            }
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<section class='bodyFooter_component'>
        <div class="outer container">
            <div class="inner">
                <h6 class="text-center">BODYFOOTER Component</h6>
                <div class="flex items-center gap-x-2">
                    <%- include('src/ejs/components/bodyFooter.ejs', {
                        bodyFooter_component: {
                            
                        }
                    })%>
                </div>
            </div>
        </div>
	</section>
	<script type="module" src="../test.ts"></script>
    <script type="module" src="../../../src/ts/main.ts"></script>
</body>
</html>