@use 'sass:map';

%addCounter {
    counter-increment: item;
    &::before {
        content: counter(item, decimal-leading-zero);
    }
}

%input {
    border: 1px solid map.get($COLORS, border_default);
    border-radius: 2px;
    backdrop-filter: blur(30px);
    background-color: map.get($COLORS, background_muted);
}
%card {
    @extend %input;
    @include fluid(padding, 48px 18px);   
}
%noise {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    img {
        @extend %workCardImage;
    }
}

// text
%textXLarge {
    font-weight: 300;
    line-height: 1.5;
    @include fluid(font-size, 24px 22px);
}

%textLarge {
    line-height: 1.7;
    @include fluid(font-size, 20px 18px);
}

%textMedium {
    line-height: 1.6;
    @include fluid(font-size, 18px 16px);
}

%textSmall {
    font-weight: 300;
    line-height: 1.6;
    @include fluid(font-size, 14px 12px);
}

%textXSmall {
    line-height: 1.8;
    letter-spacing: 0.5px;
    @include fluid(font-size, 12px 10px);
}

%textMeta {
    line-height: 1.6;
    letter-spacing: 1.5px;
    @include fluid(font-size, 13px 11px);
}

%textMetaSmall {
    line-height: 1.2;
    @include fluid(font-size, 12px 10px);
}

// heding
%h1 {
    line-height: 1.1;
    @include fluid(font-size, 64px 48px);
}

%h2 {
    line-height: 1.1;
    @include fluid(font-size, 48px 32px);
}

%h4 {
    line-height: 1.3;
    letter-spacing: 1px;
    @include fluid(font-size, 24px 20px);
}

%h5 {
    line-height: 1.4;
    letter-spacing: 1px;
    @include fluid(font-size, 20px 18px);
}