@use 'sass:map';

%addCounter {
    counter-increment: item;
    &::before {
        content: counter(item, decimal-leading-zero);
    }
}

%input {
    border: 1px solid map.get($COLORS, border_default);
    border-radius: 2px;
    backdrop-filter: blur(30px);
    background-color: map.get($COLORS, background_muted);
}
%card {
    @extend %input;
    @include rem(padding, 18px);

    @supports (font-size: clamp(1px,1px,1px)) { 
        @include clamp(padding, 48px 18px);   
    }

    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(padding, 48px);
        }
    }
}
%noise {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    img {
        @extend %workCardImage;
    }
}

// text
%textXLarge {
    $fontMobile: 22px;
    $fontDesktop: 24px;
    
    font-weight: 300;
    line-height: 1.5;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textLarge {
    $fontMobile: 18px;
    $fontDesktop: 20px;
    
    line-height: 1.7;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textMedium {
    $fontMobile: 16px;
    $fontDesktop: 18px;
    
    line-height: 1.6;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textSmall {
    $fontMobile: 12px;
    $fontDesktop: 14px;
    
    font-weight: 300;
    line-height: 1.6;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textXSmall {
    $fontMobile: 10px;
    $fontDesktop: 12px;
    
    line-height: 1.8;
    letter-spacing: 0.5px;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textMeta {
    $fontMobile: 11px;
    $fontDesktop: 13px;
    
    line-height: 1.6;
    letter-spacing: 1.5px;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%textMetaSmall {
    $fontMobile: 10px;
    $fontDesktop: 12px;
    
    line-height: 1.2;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

// heding
%h1 {
    $fontMobile: 48px;
    $fontDesktop: 64px;
    
    line-height: 1.1;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%h2 {
    $fontMobile: 32px;
    $fontDesktop: 48px;
    
    line-height: 1.1;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%h4 {
    $fontMobile: 20px;
    $fontDesktop: 24px;
    
    line-height: 1.3;
    letter-spacing: 1px;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}

%h5 {
    $fontMobile: 18px;
    $fontDesktop: 20px;
    
    line-height: 1.4;
    letter-spacing: 1px;
    @include rem(font-size, $fontMobile);

    @supports (font-size: clamp(1px,1px,1px)) {
        @include clamp(font-size, $fontDesktop $fontMobile);
    }
    @supports not (font-size: clamp(1px,1px,1px)) {
        @include media(desktop) {
            @include rem(font-size, $fontDesktop);
        }
    }
}