@use "sass:map";
@use "sass:color";

$SETTINGS: (    
    // Mobile first
    mobile_first: true,
    // pixels perfect
    pixels_only: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1
);

$CONTAINER: $DEFAULT_CONTAINER;
$DEFAULT_HEADERS: if(map.get($SETTINGS, mobile_first), $DEFAULT_HEADERS_MOBILE_FIRST, $DEFAULT_HEADERS_DESKTOP_FIRST);
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: (
    font_size: 14px,   
    line_height: 1.8,
    clamp: (
        font_size: 16px,
        width: $DEFAULT_HEADERS_CLAMP_WIDTH
    )

);
$HEADERS: (
    h1: (
        font_size: 64px,
        line_height: 1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE,
        clamp: (
            font_size: 160px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    ),
    h2: (
        font_size: 48px,
        line_height: 1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE,
        clamp: (
            font_size: 128px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    ),
    h3: (
        font_size: 32px,
        line_height: 1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE,
        clamp: (
            font_size: 96px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    ),
    h4: (
        font_size: 24px,
        line_height: 1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE,
        clamp: (
            font_size: 80px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    ),
    h5: (
        font_size: 20px,
        line_height: 1.1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE
        ,
        clamp: (
            font_size: 64px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    ),
    h6: (
        font_size: 18px,
        line_height: 1.1,
        font_weight: 300,
        media: $DEFAULT_HEADERS_MOBILE_FIRST_SCALE,
        clamp: (
            font_size: 48px,
            width: $DEFAULT_HEADERS_CLAMP_WIDTH
        )
    )
);

$BASE: (
    font_size: 16px,
    font_weight: 400,
    line_height: 1,
    font_family: ('Chillax', sans-serif),
    main_color: #dac5a7,
    background_color: #0e0e0e,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1920px
);

$BURGER: (
    color_primary: map.get($BASE, main_color),
    color_active: color.scale(map.get($BASE, main_color), $lightness: 80%),
    origin_top: 6px,
    origin_bottom: 6px,
    width: 32px,
    height: 32px,
    line_height: 2px,
    animation_speed: .2s
);

$COLORS: (
    base: map.get($BASE, main_color),
    muted: rgba(218, 197, 167, 0.6),
    inverse: #0e0e0e,
    inverse_muted: rgba(255, 255, 255, 0.6),
    background_default: map.get($BASE, background_color),
    background_primary: #dac5a7,
    background_secondary: #1a1a1a,
    background_muted: rgba(218, 197, 167, 0.05),
    background_muted_2: rgba(255, 255, 255, 0.07),
    border_default: rgba(218, 197, 167, 0.15),
    border_inverse: rgba(255, 255, 255, 0.12),
    icon_default: #dac5a7,
    icon_inverse: #0e0e0e
);
// Custom
$FONTS: (
    satoshi: ("Satoshi", sans-serif),
    chillax: ('Chillax', sans-serif),
    gambetta: ("Gambetta", sans-serif)
);

$SPEED: (
    base: .6s
);

$ANIMATIONSPEEDS: (
    long: .5s,
    base: .4s,
    short: .3s
);

$ZINDEXES: (
    immortal: 5
);