@import 
        './abstracts/default',
        './abstracts/variables',
        './abstracts/mixins',
        './abstracts/functions',
        './abstracts/placeholders';

@import 
        './base/reset',
        './base/fonts',
        './base/typography',
        './base/base';

// internal layout START
@import
	'./layout/hero',
	'./layout/clients',
	'./layout/services',
	'./layout/work',
	'./layout/process',
	'./layout/testimonials',
	'./layout/cta',
	'./layout/footer';
// internal layout END

@import 
        '../../../externe/components/Burger/Burger',
        '../../../externe/components/HeaderMenu/HeaderMenu';

// internal components START
@import
	'./components/icon',
	'./components/header',
	'./components/button',
	'./components/headerText',
	'./components/serviceCard',
	'./components/workCard',
	'./components/processCard',
	'./components/testimonialCard',
	'./components/bodyFooter',
	'./components/accordion',
	'./components/social';
// internal components END

// @import
//         'pages'