@import 
	'./abstracts/default',
	'./abstracts/variables',
	'./abstracts/mixins',
	'./abstracts/functions',
	'./abstracts/placeholders';

@import 
	'./base/reset',
	'./base/fonts',
	'./base/typography',
	'./base/base';

// internal layout START
@import
	'./layout/hero',
	'./layout/clients',
	'./layout/services',
	'./layout/work',
	'./layout/process',
	'./layout/testimonials',
	'./layout/cta',
	'./layout/footer',
	'./layout/hero-services',
	'./layout/stats',
	'./layout/service-list',
	'./layout/hero-about',
	'./layout/contacts',
	'./layout/hero-work',
	'./layout/hero-singlework',
	'./layout/about-singlework',
	'./layout/posts',
	'./layout/about';
// internal layout END

@import 
	'../../../externe/components/Burger/Burger',
	'../../../externe/components/HeaderMenu/HeaderMenu';

// internal components START
@import
	'./components/icon',
	'./components/header',
	'./components/button',
	'./components/headerText',
	'./components/serviceCard',
	'./components/workCard',
	'./components/processCard',
	'./components/testimonialCard',
	'./components/bodyFooter',
	'./components/accordion',
	'./components/social',
	'./components/statsItem',
	'./components/serviceListCard',
	'./components/aboutContentCard',
	'./components/awardsCard',
	'./components/contactForm',
	'./components/singleworkAboutCard',
	'./components/postCard';
// internal components END

@import
	'./pages/services',
	'./pages//about';