@each $type, $props in $HEADERS {
    $font_size: map-get($props, font_size);
    $line_height: map-get($props, line_height);
    $font_weight: map-get($props, font_weight);

    #{$type} {
        font-weight: $font_weight;
        overflow-wrap: break-word;
        @include rem(font-size, $font_size);
        @include line-height($line_height, $font_size);

        @each $media, $multiplier in map-get($props, media) {
            @include media($media) {
                @include rem(font-size, ($font_size * $multiplier));
            }
        }
    }
}

p {
    overflow-wrap: break-word;
}